.finish-purcharse-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 24px 0;
}
.content-purcharse-car{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 50%;
    border-bottom: 1px solid black;
    padding: 10px 0;
    text-align: center;
    position: relative;
    margin-bottom: 32px;
}
.content-purcharse-car input{
    border: 1px solid #eee;
    border-radius: 4px;
    color: #242424;
    padding: 5px;
    width: 50px;
    text-align: center;
    margin-top: 18px;
}
.finish-purcharse-container h3{
    color: #FAC018;
    text-shadow: 0px 3px 6px #043832;
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 32px;
}
.procede-purcharse-button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.procede-purcharse-button button{
    background: #088F00;
    border: none;
    color: #fff;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.5s all;
}
.procede-purcharse-button button:hover{
    opacity: 0.8;
}