.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 18px;
    width: 100%;
}
.content{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px 200px;
}
.categories h4{
    color: white;
    background: #FAC018;
    width: 360px;
    max-width: 700px;
    padding: 28px 0;
    font-size: 24px;
    font-weight: 600;
    border-bottom: 1px solid #ffeaa7;
}
.categories p{
    background: #FAC018;
    width: 360px;
    max-width: 700px;
    padding: 28px 0;
    font-size: 24px;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.5s all;
}
.categories p:hover{
    opacity: 1;
}
.categories a{
    text-decoration: none;
    color: white;
}
.categories path{
    display: flex;
    align-items: center;
    justify-content: center;
}