.container-car{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 18px;
    width: 100%;
}
.container-car h1{
    color: #FAC018;
    text-shadow: 0px 3px 6px #043832;
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 30px;
}
.content-car{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    border: 2px solid white;
    background: #fff;
    border-radius: 8px;
    padding: 32px 18px;
    text-align: center;
    position: relative;
    margin-bottom: 32px;
}
.content-car input{
    border: 1px solid #eee;
    border-radius: 4px;
    color: #242424;
    padding: 5px;
    width: 50px;
    text-align: center;
    margin-top: 18px;
}
.product-image, .product-name, .product-price {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.product-image img{
    width: 100px;
    height: 100px;
    border-radius: 8px;
}
.product-inc-dec{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.product-inc-dec button{
    cursor: pointer;
    padding: 5px 10px;
    border: 0;
    margin: 18px 6px;
    transition: 0.5s all;
    border-radius: 8px;
}
.product-inc-dec button:hover{
    filter: brightness(0.8);
}
.delete-button{
    position: absolute;
    top: 0;
    right: 0;
    color: #BA3639;
}
.procede-button{
    margin-top: 30px;
}
.procede-button button{
    background: #088F00;
    border: none;
    color: #fff;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.5s all;
}
.procede-button button:hover{
    opacity: 0.8;
}
.no-products-image{
    width: 50px;
    height: 50px;
    margin-top: 22px;
}
