.product-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
    width: 100%;
}
.product-description{
    background-color: #fff;
    padding: 50px 25px 100px;
    border-radius: 8px;
}
.product-container h3{
    color: #FAC018;
    text-shadow: 0px 3px 6px #043832;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
}
.product-container img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 350px;
    margin: 32px 64px;
    background-color: #fff;
    border-radius: 10px;
}
.product-description{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
}
.product-description h4{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
}
.product-description p{
    width: 50%;
}
.product-description button{
    margin-top: 35px;
    margin-right: 32px;
    background: #BA3639;
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s all;
}
.product-description button:hover{
    filter: brightness(0.9);
}
.buttons > button{
    text-align: center;
    margin-left: 32px;   
}
#loading{
    width: 100px;
    height: 100px;
    border: 10px solid;
    border-radius: 50%;
    border-top-color: transparent;
    margin: 0 auto;
    color: #FAC018;
    animation: load .6s linear infinite;
    margin-top: 200px;
    
}

@keyframes load{
    to{
        transform: rotate(360deg);
    }
}