.service-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.logo-content img{
    width: 350px;
    height: 200px;
    padding: 20px 0;
}
.service-title h3{
    font-size: 22px;
    padding-bottom: 10px;
    font-weight: 800;
    color: #FAC018;
}
.service-container ul:nth-child(odd){
    background: #fff;
    border-bottom: 1px solid #020202;
    padding: 15px 30px;
}
.service-container ul:nth-child(even){
    background: #808080;
    color: #fff;
    border-bottom: 1px solid #020202;
    padding: 15px 30px;
}
.service-container li{
    list-style-type: none;
}
.description-container{
    width: 50%;
    margin: 32px auto;
}
.description-container h3{
    color: #FAC018;
    text-shadow: 0px 3px 6px #043832;
    margin-bottom: 11px;
    font-weight: 600;
}
.description-container strong{
    background: #095D3F;
    padding: 2px 6px;
    border-radius: 4px;
    cursor: pointer;
}
.description-container button{
    margin-top: 18px;
    background: #002672;
    color: #fff;
    padding: 10px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.5s;
}
.description-container button:hover{
    filter: grayscale(0.3);
    letter-spacing: 2px;
}
.service-social-medias{
    margin: 32px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.social a{
    text-decoration: none;
}
