.container-store{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 32px;
    width: 100%;
}
.content-store{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.content-associated{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.logo-associated{
    width: 300px;
    height: 150px;
    background: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 18px 32px;
    border: 1px solid #222;
}
.description{
    width: 300px;
    height: 150px;
    background: #FAC018;
    padding: 18px 0;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.description p{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}
.description button{
    margin-top: 18px;
    background: #002672;
    color: #fff;
    padding: 10px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.5s all;
}
.description button:hover{
    filter: grayscale(0.3);
    letter-spacing: 2px;
}